* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.outer-wrapper {
    background-color: #FAF9F6;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: auto;
    max-width: 100%;
    margin: 50px 50px;
    height: 600px;
    background-color: #000080;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.counter-number {
    height: 300px;
    width: 300px;
    background-color: #FAF9F6;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 10px;
   
}

.count-btn {
    padding: 15px;
    background-color: #FAF9F6;
    font-size: 18px;
    cursor: pointer;
    margin-top: 30px;
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 05px;
    border: 0;
    color: #000000;
    outline: none;
}

#counter-placeholder{
    font-size: 10rem;
    color: black;
  }